.classes .col-3 {
  background-color: rgb(22, 22, 154);
  border-radius: 9px;
}
.custom-col {
  height: 100px;
}

.custom-col a {
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.col-4 a {
  text-decoration: none;
  color: aliceblue;
}
.classes .col-3:hover {
  background-color: rgba(35, 35, 242, 0.844);
}

.modal-title {
  color: rgb(22, 22, 154);
  margin-bottom: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.add-classe-input {
  appearance: none;
  border: none;
  outline: none;
  background-color: #fff;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px, 2px, 24px black;
  width: 100%;
  font-size: 20px;
}
.classes button .button {
  border-radius: 999px;
  background-image: linear-gradient(
    to right,
    rgb(4, 11, 114),
    rgb(74, 119, 255)
  );
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  width: 50%;
}
