.home .body {
  background-color: rgba(28, 6, 116, 0.842);
  font-weight: 300;
}
.slides .carousel-inner .carousel-item img {
  height: 500px;
}
.slides .carousel-item .carousel-caption {
  background-color: rgba(44, 48, 50, 0.424);
  color: rgb(255, 255, 255);
  font-weight: 400;
}
.Activities {
  font-weight: 300;
}
.Activities .card {
  border-radius: 0%;
}
.Activities .card1 {
  background-color: rgb(255, 221, 0);
}
.Activities .card2 {
  background-color: rgb(255, 145, 0);
}
.Activities .card3 {
  background-color: rgb(255, 221, 0);
}
.Activities .card .card-img-top {
  border-radius: 0%;
}
.whyParadis .card1 .card-body {
  background-color: rgb(255, 221, 0);
}
.whyParadis .card2 .card-body {
  background-color: rgb(255, 145, 0);
}
.whyParadis .card3 .card-body {
  background-color: rgb(255, 221, 0);
}
.quotes .carousel-item .carousel-caption {
  color: rgb(255, 255, 255);
  font-weight: 400;
}
.quotes .carousel-inner .carousel-item img {
  opacity: 0.5;
  height: 200px;
}
.quotes .carousel-inner .carousel-item .blockquote-footer {
  color: rgb(240, 194, 25);
  font-weight: 200;
}
