.circle-container {
  width: 80px;
  height: 85px;
  border-radius: 50%;
  overflow: hidden; /* Ensure the image is clipped within the circular div */
  background-color: #ccc; /* Optional: Add a background color for the circular div */
}

.profile-image {
  width: 100%; /* Make sure the image fills the circular div */
  height: 100%; /* Make sure the image fills the circular div */
  object-fit: cover; /* Scale and crop the image to fit within the circular div */
}

table tbody tr {
  height: 100px;
}
ion-icon:hover {
  box-shadow: #ccc;
}
body {
  background: #f7f7ff;
  margin-top: 20px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%),
    0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
  margin-right: 0.5rem !important;
}
